<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Ntokozo Xobongo Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>About Ntokozo Xobongo</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <p>I am a software engineeer, I write code in python, java, bash, flutter and dart, html, css.<br>
            I studied at WeThinkCode_, I'm passionate about enterpreneurship and solving problems
            with code.
        </p>
    </main>
</body>
</html>
