<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Ntokozo Xobongo Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>About Ntokozo Xobongo</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <h4>Let me introduce myself😇️</h4>
    </header>
    <main>
       <!-- <img src="image/Ntokozo Xobongo_White.JPG" height="100" width="100" alt="This is an image of Ntokozo">  -->
       <img src="{{ url_for('static', filename='image/Ntokozo Xobongo_White.JPG') }}" height="400" width="400" alt="This is an image of Ntokozo">

        <p>
            <h4>Education & Aspirations:</h4> 

            I am a software engineer, I write code in python, flash, javascript, html, css, sqlite3 java, bash, flutter and dart.<br>
            I studied at WeThinkCode_, I'm passionate about software development and solving real world problems
            with code. <br>

            As early as I can remember I have always loved technoloy & from a young age I have always wanted to build my own software (big app or website).
            <br> <br>
            I love tech especially software, and emerging new technologies like A.I which is why I follow tech trends, <br>
            and of course use it to my advantage in order to speed up the process of creating solutions. <br>
            I have a knack for innovation which is why I'm in the process of creating my very own startup.

            <br>
            <h4>Hobbies:</h4> 
            I love writing poetry to unwind, taking pics and creating posters when I'm requested to
            <br> 

            <h4>Personal Info:</h4>  
         
            Location: Mthatha, Eastern Cape, South Africa
            I speak three languages, which are English, Xhosa, & Zulu. 

            
            <!-- link to e-commerce website as some reference, or something like that -->
        </p>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
