<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Ntokozo Xobongo Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Contact Me:</h1>
        <h3></h3>
        <h3>(+27)(0)664611352</h3>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <p>Feel free to reach out to me!</p>
        <p>email:</p>
        <p>ntokozox99@gmail.com</p>
        <p>contact number:</p> 
        <p>(+27)(0)664611352<p>
    </main>
</body>
</html>
