<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Ntokozo Xobongo Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Contact Info:</h1>
        
        <h4>Feel free to reach out to me!</h4>
        <!-- <h3>Are you in business or starting out your buiness?</h3> -->
        <!-- <h3>Do you want someone who understands business and tech?</h3> -->
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>

        <p>Email: <br>
            <a href="mailto:ntokozox99@gmail.com">ntokozox99@gmail.com</a>
        </p>
        
        <p>Contact number: <br>
            <a href="tel:+27664611352">+27 (66) 461 1352</a> 
        </p>
        
        <p>LinkedIn: <br>
            <a href="https://www.linkedin.com/in/ntokozo-xobongo" target="_blank">linkedin.com/in/ntokozo-xobongo</a> <br>
        </p> 

        <p>Github: <br>
            <a href="https://github.com/Ntokozox" target="_blank"> github.com/Ntokozox</a>
        </p>
        


        <!-- favicons for email, linkedin, an github -->

         
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
