<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Ntokozo Xobongo's Personal Portfolio.</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <!-- <p>This is the homepage of Ntokozo's personal website.</p> -->
        <div class="image">
            <img src="{{ url_for('static', filename='image/Ntokozo Xobongo_Glass.JPG') }}" height="400" width="400" alt="This is an image of Ntokozo">
        </div>
        
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
